body {

  color: aliceblue;
  background-image: linear-gradient(to right, #00B2FF, #42EDDC);
  margin-bottom: 50px;

  grid-template-columns: 1fr;
  grid-template-rows: ;
  grid-gap: 0.5em;
  font-family: Proxima Soft, sans-serif;
  /* font-size: 30px;
  font-weight: bold;
  color: #FF9605;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white; */
  padding: 0rem 3rem;
}

header,
main,
aside,
footer {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  /* padding: 10px 0; */
  border: 10px solid;
  border-color: #97D800;
  border-radius: 20px;
  margin: 20px;
  padding-top: 20px;
  background-color: white;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
  padding: 10px;
  font-size: 70px;
  font-weight: 800;
  color: #F4EC07;
  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #FF9605;
}

.dino-box {
  min-width: 300px;
  /* height: 200px; */
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  padding: 10px;
  justify-content: center;
}

.dino-box h3 {
  text-align: center;
  color: #FF2323;
}

.dino-box img {
  border-radius: 20px;
  height: 150px;
}

.containerTab {
  border: 10px solid;
  border-color: #FF9605;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
}

.containerTab h2 {
  margin: 0;
  width: 30%;
  text-transform: uppercase;
  font-size: 35px;
  color: #18C8FF;
  padding-right: 5px;
}

.containerTab h3 {
  font-size: 30px;
  color: #97D800;
  text-transform: uppercase;
  padding-left: 5px;
  margin: 0 0 0 20px;
}

#pronunciation {
  text-transform: none;
  margin-top: 5px;
  margin-left: 20px;
  color: #0085BF;
}

.headerDiv {
  margin: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contents p {
  margin-top: 10px;
  font-size: 25px;
  padding-right: 10px;
  color: gray;
}

.contents h4 {
  font-size: 25px;
  margin: 0;
  color: #A2F232;
}

.info-stats {
  width 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-stats img {
  border-radius: 30px;
  margin: 20px 0 20px 20px;
  width: 70%;
  height: 60%;
}

#comparison-img {
  width: 90%;
  border-radius: 30px;
  margin: 20px;
}

.info {
  text-transform: capitalize;
  width: 40%;
  padding: 20px;
}

.info-paragraph {
  padding: 20px;
}



#grid-view{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  border: 0 solid;
  border-radius: 20px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.4em;
  color: black */
}

/* #grid-view img{
  width: 150px;
} */


#mapid {
  border-radius: 20px;
  margin: 20px;
}

@media only screen and (min-width: 2000px) {

  h1 {
    margin: 10px;
    font-size: 12rem;
  }

  div.dino-box h3 {
    font-size: 40px;
  }

  div.contents p {
    font-size: 40px;
  }
  div.headerDiv h2 {
    font-size: 70px;
  }
  div.headerDiv h3 {
    font-size: 50px;
  }
  div.contents h4 {
    font-size: 50px;
  }
  #pronunciation {
    font-size: 50px;
  }

}


@media only screen and (max-width: 768px){
  #grid-view{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 411px){
  #grid-view{
    grid-template-columns: 1fr;
  }
}

.select-css {
    text-align: center;
    color: white;
    border-radius: 20px;
    font-family: Proxima Soft, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px 10px 18px;
    -webkit-appearance: none;
    background-color: #FF9605;
    /* background-repeat: no-repeat, repeat;
    background-size: .65em auto, 100%; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0 0 10px 10px;
  background: #F4EC07;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0 0 10px 10px;
  background: #FF9605;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E53100;
}

#mapid { height: 480px; }
